html {
	background: #6495ED;
	padding: 20px;
	font-family: 'Montserrat', sans-serif;
}
body {
	background: #ffffff;
	width: 80%;
	margin: auto;
	padding: 30px;
}

p , ul, ol, li, table, td, th {
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5em;
	color: #4e4e4e;
	text-align: left 
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	color: #4e4e4e;
}

.other {
	color: rgb(137, 207, 240)
}

#first {
	color: rgb(0, 0, 0)
}

img {
    width: 100%
}